
@{
    ViewData["Title"] = "AddUser";
}
<div class="nk-block nk-block-lg">
    <div class="nk-block-head">
        <div class="nk-block-head-content">
            <h4 class="title nk-block-title">Basic Details for Add Users</h4>
            <div class="nk-block-des">
                @*       <p>You can alow display form in column as example below.</p>*@
            </div>
        </div>
    </div>
    <div class="card card-bordered">
        <div class="card-inner">
            <div class="card-head">
                <h5 class="card-title">User Info</h5>
            </div>
            <form asp-action="AddUser" asp-controller="Account" method="post">
                <div class="row g-4">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="full-name-1">First Name</label>
                            <div class="form-control-wrap">
                                <input type="text" name="FirstName" class="form-control" id="full-name-1">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="full-name-1">Last Name</label>
                            <div class="form-control-wrap">
                                <input type="text" name="LastName" class="form-control" id="full-name-1">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="email-address-1">Email address</label>
                            <div class="form-control-wrap">
                                <input type="email" name="UserEmails" class="form-control" id="email-address-1">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="full-name-1">User Name</label>
                            <div class="form-control-wrap">
                                <input type="text" name="UserName" class="form-control" id="full-name-1">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="phone-no-1">Password</label>
                            <div class="form-control-wrap">
                                <input type="password" name="Password" class="form-control" id="phone-no-1">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="pay-amount-1">User Role</label>
                            <div class="form-control-wrap">

                                <select name="Userrole" class="form-control">
                                    @for (int i = 0; i < ViewBag.rlist.Count; i++)
                                    {
                                        <option value="@ViewBag.rlist[i].Rid">@ViewBag.rlist[i].RoleName</option>
                                    }

                                </select>


                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-group">
                            <button type="submit" class="btn btn-lg btn-primary">Save Information</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div><!-- .nk-block -->
