@model IEnumerable<PRONEXEL_Data.Models.Dto.UserDto>
@{
    ViewData["Title"] = "AllUsers";
}


<div class="nk-block nk-block-lg">
    <div class="nk-block-head">
        <div class="nk-block-head-content">
            <h4 class="nk-block-title">All Users</h4>

        </div>
    </div>
    <div class="card card-preview">
        <div class="card-inner">
            <table class="datatable-init-export nowrap table">
                <thead>
                    <tr>
                        <th> User Name</th>
                        <th>Emails</th>
                        <th>User Role</th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>


                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserEmails)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Userrole)
                            </td>

                            <td>

                                <a>

                                    <em class="icon ni ni-trash-fill " onclick="deleteUser('@item.Userid')"></em>
                                </a>
                                <a href="~/AdminSide/EditUsers?id=@item.Userid">

                                    <em class="icon ni ni-edit"></em>
                                </a>


                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div><!-- .card-preview -->
</div>

<script type="text/javascript">
    $('#eg-swal-av3').on("click", function (e) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!'
        }).then(function (result) {
            if (result.value) {
                Swal.fire('Deleted!', 'Your file has been deleted.', 'success');
            }
        });
        e.preventDefault();
    });
    function deleteUser(id) {

        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!'
        }).then(function (result) {
            if (result.value) {
                $.ajax({
                    url: '/Account/DeleteUser'
                    , type: 'GET'
                    , data: { userid: id }
                    , contentType: 'application/json'
                    , success: function (response) {

                        Swal.fire('Deleted!', 'User has been deleted.', 'success');
                           location.reload();
                    }
                });

            }
        });

    }
   
</script>
