<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
  
    <style>
        /* Default jsTree node text in dark mode */
        body.dark-mode .jstree-anchor {
            color: #ffffff !important;
        }

            /* On hover, change text color to black */
            body.dark-mode .jstree-anchor:hover {
                color: #000000 !important;
                background-color: #e0e0e0 !important; /* Optional: subtle background to highlight */
            }
             body.dark-mode .jstree-ocl:hover {
                color: #000000 !important;
                background-color: #e0e0e0 !important; /* Optional: subtle background to highlight */
            }

        /* Optional: style for selected item */
        body.dark-mode .jstree-clicked {
            background-color: #444 !important;
            color: #ffffff !important;
        }

        body.dark-mode .jstree-default .jstree-wholerow-clicked
        {
            background: #666666;
        }


    </style>
    <base href="../">
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A powerful and conceptual apps base dashboard template that especially build for developers and programmers.">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="./images/favicon.png">
    <!-- Page Title  -->
    <title>Blank - Layout | DashLite Admin Template</title>
    <!-- StyleSheets  -->
    <link rel="stylesheet" href="~/theme/assets/css/dashlite.css?ver=2.5.0">
    <link id="skin-default" rel="stylesheet" href="~/theme/assets/css/theme.css?ver=2.5.0">
    <script src="~/theme/assets/js/bundle.js"></script>
    <script src="~/theme/assets/js/scripts.js"></script>
    <script src="~/theme/assets/js/libs/jstree.js"></script>
    <script src="~/theme/assets/js/example-tree.js"></script>
    <link href="~/theme/assets/css/libs/jstree.css" rel="stylesheet" />
</head>

<body class="nk-body npc-default has-apps-sidebar has-sidebar ">
    <div class="nk-app-root">

        <!-- main s -->
        <div class="nk-main ">
            <!-- wrap s -->
            <div class="nk-wrap ">
                <!-- main header s -->
                <div class="nk-header nk-header-fixed is-light">
                    <div class="container-fluid">
                        <div class="nk-header-wrap">
                            <div class="nk-menu-trigger d-xl-none ml-n1">
                                <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a>
                            </div>
                            <div class="nk-header-app-name">
                                <img style="max-width:15%" src="~/media/webimages/pronexel.png" />
                            </div>
          
                            <div class="nk-header-tools">
                                <ul class="nk-quick-nav">
                                
                            
                       
                                    <li class="dropdown user-dropdown">
                                        <a href="#" class="dropdown-toggle mr-n1" data-toggle="dropdown">
                                            <div class="user-toggle">
                                                <div class="user-avatar sm">
                                                    <em class="icon ni ni-user-alt"></em>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-md dropdown-menu-right">
                                            <div class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">
                                                <div class="user-card">
                                                    <div class="user-avatar">
                                                        <span>
                                                            @User.Identity.Name.Substring(0, 1).ToUpper()
                                                        </span>
                                                    </div>
                                                    <div class="user-info">
                                                        <span class="lead-text">@User.Identity.Name</span>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="dropdown-inner">
                                                <ul class="link-list">
                                      @*               <li><a href="html/user-profile-regular.html"><em class="icon ni ni-user-alt"></em><span>View Profile</span></a></li>
                                                    <li><a href="html/user-profile-setting.html"><em class="icon ni ni-setting-alt"></em><span>Account Setting</span></a></li>
                                                    <li><a href="html/user-profile-activity.html"><em class="icon ni ni-activity-alt"></em><span>Login Activity</span></a></li> *@
                                                   <li style="display:none;"><a class="dark-switch" href="#"><em class="icon ni ni-moon"></em><span>Dark Mode</span></a></li>
                                                </ul>
                                            </div>
                                            <div class="dropdown-inner">
                                                <ul class="link-list">
                                                    <li><a asp-action="Logout" asp-controller="Account"><em class="icon ni ni-signout"></em><span>Sign out</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- main header e -->
                <div class="nk-sidebar" data-content="sidebarMenu">
                    <div class="nk-sidebar-inner" data-simplebar>

                        @if(User.IsInRole("ApplicationUser"))
                        {
                        <div id="language-tree"></div>
                        <div id="category-tree"></div>
                        }
                        <ul class="nk-menu nk-menu-md">


                          
                            @if (User.IsInRole("SuperAdmin") || (User.IsInRole("Admin")))
                            {
                                <li class="nk-menu-item has-sub">
                                    <a href="#" class="nk-menu-link nk-menu-toggle">
                                        <span class="nk-menu-icon"><em class="icon ni ni-users"></em></span>
                                        <span class="nk-menu-text">Manage User</span>
                                     
                                    </a>
                                    <ul class="nk-menu-sub">
                                        <li class="nk-menu-item">
                                            <a href="Account/AllUsers" class="nk-menu-link"><span class="nk-menu-text">All Users</span>
                                               
                                            </a>

                                        </li>
                                        <li class="nk-menu-item">
                                            <a href="Account/AddUser" class="nk-menu-link"><span class="nk-menu-text">Add User</span></a>
                                        </li>

                                    </ul><!-- .nk-menu-sub -->
                                </li><!-- .nk-menu-item -->

                                <li class="nk-menu-item has-sub">
                                    <a href="#" class="nk-menu-link nk-menu-toggle">
                                        <span class="nk-menu-icon"><em class="icon ni ni-book"></em></span>
                                        <span class="nk-menu-text">Manage Content</span>
                                    </a>
                                    <ul class="nk-menu-sub">
                                        <li class="nk-menu-item">
                                            <a href="Content/AddCategory" class="nk-menu-link">
                                                <span class="nk-menu-icon"><em class="icon ni ni-plus"></em></span>
                                                <span class="nk-menu-text">Add Topic</span>
                                            </a>
                                        </li>
                                        <li class="nk-menu-item">
                                            <a href="Content/AllCategory" class="nk-menu-link">
                                                <span class="nk-menu-icon"><em class="icon ni ni-list-thumb"></em></span>
                                                <span class="nk-menu-text">All Topics</span>
                                            </a>
                                        </li>
                                        <li class="nk-menu-item">
                                            <a href="Content/AddSubTopic" class="nk-menu-link">
                                                <span class="nk-menu-icon"><em class="icon ni ni-plus-circle"></em></span>
                                                <span class="nk-menu-text">Add Sub Topics</span>
                                            </a>
                                        </li>
                                        <li class="nk-menu-item">
                                            <a href="Content/AllSubTopics" class="nk-menu-link">
                                                <span class="nk-menu-icon"><em class="icon ni ni-view-list"></em></span>
                                                <span class="nk-menu-text">All Sub Topics</span>
                                            </a>
                                        </li>



                                    </ul><!-- .nk-menu-sub -->

                                </li>

                                <li class="nk-menu-item has-sub">

                                    <a href="#" class="nk-menu-link nk-menu-toggle">
                                        <span class="nk-menu-icon"><em class="icon ni ni-img"></em></span>
                                        <span class="nk-menu-text">Manage Media</span>
                                    </a>
                                    <ul class="nk-menu-sub">
                                        <li class="nk-menu-item">
                                            <a href="MediaManagement/AddMedia" class="nk-menu-link">
                                                <span class="nk-menu-icon"><em class="icon ni ni-plus"></em></span>
                                                <span class="nk-menu-text">Add Media</span>
                                            </a>
                                        </li>  
                                        <li class="nk-menu-item">
                                            <a href="MediaManagement/AllMedia" class="nk-menu-link">
                                                <span class="nk-menu-icon"><em class="icon ni ni-plus"></em></span>
                                                <span class="nk-menu-text">All Media</span>
                                            </a>
                                        </li>
                                    </ul><!-- .nk-menu-sub -->




                                </li>
                                <li class="nk-menu-item has-sub">
                                    <a href="#" class="nk-menu-link nk-menu-toggle">
                                        <span class="nk-menu-icon"><em class="icon ni ni-book-read"></em></span>
                                        <span class="nk-menu-text">Manage Quiz</span>
                                    </a>
                                    <ul class="nk-menu-sub">
                                        <li class="nk-menu-item">
                                            <a href="Content/AddQuiz" class="nk-menu-link">
                                                <span class="nk-menu-icon"><em class="icon ni ni-question-alt"></em></span>
                                                <span class="nk-menu-text">Add Question</span>
                                            </a>
                                        </li>
                                        <li class="nk-menu-item">
                                            <a href="Content/AddAnswer" class="nk-menu-link">
                                                <span class="nk-menu-icon"><em class="icon ni ni-chat-fill"></em></span>
                                                <span class="nk-menu-text">Add Answer</span>
                                            </a>
                                        </li>
                                        <li class="nk-menu-item">
                                            <a href="Content/AllQuiz" class="nk-menu-link">
                                                <span class="nk-menu-icon"><em class="icon ni ni-view-list"></em></span>
                                                <span class="nk-menu-text">All Question</span>
                                            </a>

                                        </li>
                                    </ul>
                                </li>
                                <li class="nk-menu-item has-sub">
                                    <a href="#" class="nk-menu-link nk-menu-toggle">
                                        <span class="nk-menu-icon"><em class="icon ni ni-book-read"></em></span>
                                        <span class="nk-menu-text">Theme Management</span>
                                    </a>
                                    <ul class="nk-menu-sub">
                                        <li class="nk-menu-item">
                                            <a href="ThemeManagement/DarkMood" class="nk-menu-link">
                                                <span class="nk-menu-icon"><em class="icon ni ni-question-alt"></em></span>
                                                <span class="nk-menu-text">Manage Color</span>
                                            </a>
                                        </li>
                                      
                                    </ul>
                                </li>


                                <!-- .nk-menu-item -->
                            }
                            else if(User.IsInRole("ApplicationUser"))
                            {
                               <li class="nk-menu-item has-sub">
                                    <a href="#" class="nk-menu-link nk-menu-toggle">
                                        <span class="nk-menu-icon"><em class="icon ni ni-book-read"></em></span>
                                        <span class="nk-menu-text">Manage Quiz</span>
                                    </a>
                                    <ul class="nk-menu-sub">
                                      
                                        <li class="nk-menu-item">
                                            <a href="QuizManagement/NewQuiz" class="nk-menu-link">
                                                <span class="nk-menu-icon"><em class="icon ni ni-view-list"></em></span>
                                                <span class="nk-menu-text">New Quiz</span>
                                            </a>

                                        </li>
                                        <li class="nk-menu-item">
                                            <a href="TrainingModule/Index" class="nk-menu-link">
                                                <span class="nk-menu-icon"><em class="icon ni ni-view-list"></em></span>
                                                <span class="nk-menu-text">Existing Result</span>
                                            </a>

                                        </li>
                                 
                                    </ul>

                         

                                </li> 
                            

                            }
                                  
                        </ul><!-- .nk-menu -->

                    </div>
                </div>
                <!-- content s -->
                <div class="nk-content ">
                   
                    <div class="container-fluid">
                        <div class="nk-content-inner">
                            <div class="nk-content-body" id="DivContainerForCustForm">
                               @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content e -->
            </div>
            <!-- wrap e -->
        </div>
        <!-- main e -->
    </div>
    <!-- app-root e -->
    <!-- JavaScript -->
    <script>
        $(document).ready(function () {
            // 1. Get dark mode setting from the database and apply it
            $.ajax({
                url: '/ThemeManagement/GetActiveColor',
                type: 'GET',
                contentType: 'application/json',
                success: function (response) {
                    if (response.trim().toLowerCase() === 'darkmood') {
                        $('body').addClass('dark-mode');
                        $('.dark-switch').addClass('active');
                    } else {
                        $('body').removeClass('dark-mode');
                        $('.dark-switch').removeClass('active');
                    }
                },
                error: function () {
                    console.error('Failed to get theme setting.');
                }
            });

            // 2. Initialize language tree
            $('#language-tree').jstree({
                'core': {
                    'data': [
                        {
                            "text": "<strong>Language</strong>",
                            "state": {
                                "opened": false,
                                "disabled": true
                            },
                            "icon": false,
                            "children": [
                                { "text": "<span>English</span>" },
                                { "text": "<span>Arabic</span>" },
                                { "text": "<span>Portuguese</span>" },
                                { "text": "<span>Indonesian</span>" },
                                { "text": "<span>French</span>" },
                                { "text": "<span>Spanish</span>" }
                            ]
                        }
                    ],
                    'multiple': false
                },
                'plugins': ["checkbox", "wholerow"],
                'checkbox': {
                    'keep_selected_style': false,
                    'three_state': false,
                    'tie_selection': true
                }
            });

            // Only allow one language selection
            $('#language-tree').on("changed.jstree", function (e, data) {
                if (data.selected.length > 1) {
                    var tree = $('#language-tree').jstree(true);
                    tree.deselect_all();
                    tree.select_node(data.node);
                }
            });

            // 3. Load and initialize category tree
            loadCategoryTree();
        });

        function loadCategoryTree() {
            $.ajax({
                url: '/JsonSide/AllCategroy',
                type: 'GET',
                success: function (categories) {
                    const categoryPromises = categories.map(function (category) {
                        return new Promise(function (resolve) {
                            $.ajax({
                                url: '/JsonSide/AllSubCategroy',
                                type: 'GET',
                                data: { categoryId: category.id },
                                success: function (subcategories) {
                                    const children = subcategories.map(function (sub) {
                                        return { text: sub.subTopicName };
                                    });

                                    resolve({
                                        text: category.topicName,
                                        children: children
                                    });
                                },
                                error: function () {
                                    console.error(`Error loading subcategories for category ${category.id}`);
                                    resolve({
                                        text: category.topicName,
                                        children: []
                                    });
                                }
                            });
                        });
                    });

                    Promise.all(categoryPromises).then(function (orderedTreeData) {
                        initializeJsTree(orderedTreeData);
                    });
                },
                error: function () {
                    console.error('Failed to load categories');
                }
            });
        }

        function initializeJsTree(treeData) {
            $('#category-tree').jstree({
                'core': {
                    'data': treeData,
                    'multiple': false
                },
                'plugins': ["wholerow"]
            });

            $('#category-tree').on("changed.jstree", function (e, data) {
                if (data.selected.length > 0) {
                    const selectedSubcategory = data.node.text;

                    // Get selected language from language-tree
                    const selectedLangId = $('#language-tree').jstree('get_selected')[0];
                    const langNode = $('#language-tree').jstree(true).get_node(selectedLangId);
                    const selectedLanguage = langNode ? $(langNode.text).text() : "None";

                    var url = '/TrainingModule/AllMedia?SubcatName=' + encodeURIComponent(selectedSubcategory) + '&Language=' + encodeURIComponent(selectedLanguage);
                    $("#DivContainerForCustForm").load(url);
                }
            });
        }
    </script>



        </body>

</html>