
@{
    ViewData["Title"] = "Index";
}

<div class="nk-block nk-block-lg">
    <div class="nk-block-head">
        <div class="nk-block-head-content">
            <h4 class="title nk-block-title">My Courses</h4>
        </div>
    </div>
            <div id="DivContainerForCustForm">
            </div>
    
    </div>
</div>
</div>

