@{
    ViewData["Title"] = "Home Page";
}
<div class="nk-block nk-block-lg">
    <div class="card card-bordered">
        <div class="card-inner">
            <video style="width:100%" autoplay muted loop playsinline>
                <source src="~/media/b45b93e4-b12d-48eb-9128-957c5b9168f9.mp4" type="video/mp4" />
            </video>
        </div>
    </div>
</div>
