
@{
    ViewData["Title"] = "DarkMood";
}
<div class="nk-block nk-block-lg">

    <div class="card card-bordered">
        <div class="card-inner">
            <div class="card-head">
                <h5 class="card-title">Manage Theme</h5>
            </div>
            <form id="userForm" asp-action="DarkMood" asp-controller="ThemeManagement" method="post">
                <div class="row g-4">


                    <!-- Role -->
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="user-role">Dark Theme</label>
                            <div class="form-control-wrap">
                                <select name="Color" class="form-control" id="user-role" required>
                                    @if (ViewBag.res == "Normal")
                                    {
                                        <option value="Normal" selected>Normal</option>
                                        <option value="DarkMood">DarkMood</option>
                                    }
                                    else
                                    {
                                        <option value="Normal" >Normal</option>
                                        <option value="DarkMood" selected>DarkMood</option>
                                    }

                                
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- Submit -->
                    <div class="col-12">
                        <div class="form-group">
                            <button type="submit" class="btn btn-lg btn-primary">Save Information</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
